*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: center;
}
.App{
    margin: 50px;
    /* width: 800px;
    height: 300px; */
    /* display: contents;
    justify-content: center; */
}
.post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
 
    padding: 15px;
    margin: 15px;
  
    border: 2px solid green
    

}
.lists{
    display: flex;
    justify-content: center;
}


.input{
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 30px;
    
}

.link{
    color: rgb(26, 255, 0);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}