*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    display: flex;
    justify-content: center;
    background-image: url(/src/img/bg.jpg) ;
    height: 100vh;
   
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
 
}
.App{
    margin: 50px;
    /* width: 800px;
    height: 300px; */
    /* display: contents;
    justify-content: center; */
}
.post{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
 
    padding: 15px;
    margin: 15px;
  
    border: 10px ridge rgb(2, 226, 62);
    backdrop-filter: blur(5px)
    
    

}
.postA{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
 
    padding: 15px;
    margin: 15px;
  
    border: 10px ridge rgb(2, 99, 226);
    backdrop-filter: blur(5px)
    
    

}
.postB{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 600px;
 
    padding: 15px;
    margin: 15px;
  
    border: 10px ridge rgb(226, 2, 2);
    backdrop-filter: blur(5px)
    
    

}


.lists{
    display: flex;
    justify-content: center;
    width: auto;
    flex-wrap: wrap;
}
.post__btns{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    
}


.logo{
    width: 50px;


}

.title{
    margin-left: 15px;
    width: 300px;
    word-wrap: break-word;
}
.input{
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 30px;
    
}

.link{
    color: rgb(0, 38, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

@media (max-width: 700px) {
    .lists{
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: auto;

    margin: 30px;
    }
    
}
p{
    color: rgb(255, 255, 255);
}
h3{
    color: azure;
}